@model ExhibitionDetailsModel;
@inject IAuthorService _authorService;

@{
    ViewData["Title"] = "Изложба";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div style="display: flex;">
    <div style="flex: 1">
        <table class="table table-borderless">
            @if (ViewBag.GalleryIsOwnerOfExhibition || User.IsAdministrator())
            {
                <tr>
                    <th>Опции:</th>
                    <td>
                        <form method="get">
                            <button class="btn btn-info" asp-controller="Exhibition"
                                    asp-action="Edit" asp-route-id="@Model.Id">
                                Редактиране
                            </button>
                        </form>
                        <form method="post">
                            <button class="btn btn-info" asp-controller="Exhibition" onclick="return confirmDelete()"
                                    asp-action="Delete" asp-route-id="@Model.Id">
                                Изтрий
                            </button>
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <th>Заглавие: </th>
                <td style="font-size:large; font-weight: 500">@Model.Name</td>
            </tr>
            <tr>
                <th>Откриване: </th>
                <td style="font-size:large; font-weight: 500">@Model.OpeningDate.ToString("MM/dd/yyyy - HH:mm")</td>
            </tr>
            <tr>
                <th>Описание: </th>
                <td style="font-size:large; font-weight: 400; font-style: italic">@Model.Description</td>
            </tr>
            <tr>
                <th>Галерия: </th>
                <td style="font-size:large; font-weight: 500">@Model.HostGalleryName</td>
            </tr>
        </table>
        @if (await _authorService.ExistsByIdAsync(User.Id()) && Model.OpeningDate.Day - DateTime.Today.Day >= 3)
        {
            if (ViewBag.IsAuthorPartOfExhibition == false)
            {
                if (ViewBag.IsAuthorRequestedToJoin)
                {
                    <p style="font-size:large; font-style:italic; color:coral">Заявка за участие е изпратена!</p>
                }
                else
                {
                    <form method="post">
                        <button class="btn btn-success" asp-controller="Author" asp-action="RequestToJoinExhibition"
                                asp-route-id="@Model.Id">
                            Присъедини се!
                        </button>
                    </form>
                }
            }
        }
        <h2>Участници</h2>
        <table class="table" style="padding:20px">
            @foreach (var author in Model.AcceptedAuthors)
            {
                <tr>
                    <td>
                        <p style="@(author.Id == ViewBag.CurrentAuthorId ?
                            "font-size:larger; font-weight: 550; color:forestgreen"
                            : "font-size:large; font-weight: 450;"); font-style: italic; padding:15px">@author.FullName</p>
                    </td>
                    @if (ViewBag.GalleryIsOwnerOfExhibition)
                    {
                        <td>
                            <form method="post" style="padding:15px">
                                <button onclick="return confirmRemoveAuthor()" class="btn btn-danger" asp-action="RemoveAuthor" asp-controller="Exhibition"
                                        asp-route-id="@Model.Id" asp-route-authorId="@author.Id">
                                    Премахни
                                </button>
                            </form>
                        </td>
                    }
                </tr>
            }
        </table>

        @if (ViewBag.GalleryIsOwnerOfExhibition)
        {
            <h2>Заявки за участие</h2>
            <table class="table" style="padding:20px">
                @foreach (var author in Model.NotAcceptedAuthors)
                {
                    <tr>
                        <td>
                            <a asp-controller="Author" asp-action="Profile" asp-route-id="@author.Id"
                               style="font-size:large; font-weight: 450; font-style: italic; padding:15px">@author.FullName</a>
                        </td>
                        <td>
                            <form method="post" style="padding:15px">
                                <button onclick="return confirmAcceptAuthor()" class="btn btn-success" asp-action="AddAuthor"
                                asp-controller="Exhibition" asp-route-id="@Model.Id" asp-route-authorId="@author.Id">
                                    Добави
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

<script>
    function confirmDelete() {
        return confirm("Сигурни ли сте, че искате да изтриете изложбата?");
    }

    function confirmRemoveAuthor() {
        return confirm("Сигурни ли сте, че искате да премахнете автора? Това също ще премахне всички техни картини от изложбата.");
    }

    function confirmAcceptAuthor() {
        return confirm("Сигурни ли сте, че искате да приемете автора в изложбата?");
    }
</script>