@model ExhibitionDetailsModel;

@inject IGalleryService _galleryService;

@{
    ViewData["Title"] = "Изложба";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div style="display: flex;">
    <div style="flex: 1">
        <table class="table table-borderless">
            @if ((User?.Identity?.IsAuthenticated ?? false) && await _galleryService.ExistsByIdAsync(User.Id()))
            {
                <tr>
                    <th>Опции:</th>
                    <td>
                        <form method="get">
                            <button class="btn btn-info" asp-controller="Exhibition"
                                    asp-action="Edit" asp-route-id="@Model.Id">
                                Редактиране
                            </button>
                        </form>
                        <form method="post">
                            <button class="btn btn-info" asp-controller="Exhibition" onclick="return confirmDelete()"
                                    asp-action="Delete" asp-route-id="@Model.Id">
                                Изтрий
                            </button>
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <th>Заглавие: </th>
                <td style="font-size:large; font-weight: 500">@Model.Name</td>
            </tr>
            <tr>
                <th>Откриване: </th>
                <td style="font-size:large; font-weight: 500">@Model.OpeningDate.ToString("MM/dd/yyyy - HH:mm")</td>
            </tr>
            <tr>
                <th>Описание: </th>
                <td style="font-size:large; font-weight: 400; font-style: italic">@Model.Description</td>
            </tr>
            <tr>
                <th>Галерия: </th>
                <td style="font-size:large; font-weight: 500">@Model.HostGalleryName</td>
            </tr>
            <tr>
                <th style="font-size:large; font-weight: 550">Участници:</th>
                <td>
                    @foreach (string authorName in Model.Participants)
                    {
                        <p style="font-size:large; font-weight: 450; font-style: italic">@authorName</p>
                    }
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    function confirmDelete() {
        return confirm("Сигурни ли сте, че искате да изтриете изложбата?");
    }
</script>