@model PaintingQueryServiceModel;

@foreach (PaintingThumbnailModel painting in Model.Thumbnails)
{
    <li>
        <div class="card" style="min-width: 250px; max-width: 250px; margin-left: 20px; margin-right: 20px;
                        flex-direction: column; justify-content: space-between">
            <img src="@Url.Content(painting.ImagePath)" alt="@painting.Title"
                 align-content: center" />

            <p style="font-weight: bold; font-size:large; margin-left: 10px">@painting.Title</p>

            <p style="margin-left: 10px; margin-top: -10px;">@($"Размери: {@painting.HeightCm}х{@painting.WidthCm}см")</p>

            <a asp-action="Details" asp-controller="Painting" asp-route-id="@painting.Id"
               asp-route-information="@painting.GetInformation()" class="btn btn-success" style="align-content:flex-end">Детайли</a>
        </div>
    </li>
}