@model PaintingFormModel;

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Заглавие...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" placeholder="Година...">
                <span asp-validation-for="Year" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId"></label>
                <select asp-for="GenreId" class="form-control">
                    @foreach (var genre in Model.Genres)
                    {
                        <option value="@genre.Id">@genre.Name</option>
                    }
                </select>
                <span asp-validation-for="GenreId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtTypeId"></label>
                <select asp-for="ArtTypeId" class="form-control">
                    @foreach (var artType in Model.ArtTypes)
                    {
                        <option value="@artType.Id">@artType.Name</option>
                    }
                </select>
                <span asp-validation-for="ArtTypeId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseTypeId"></label>
                <select asp-for="BaseTypeId" class="form-control">
                    @foreach (var baseType in Model.BaseTypes)
                    {
                        <option value="@baseType.Id">@baseType.Name</option>
                    }
                </select>
                <span asp-validation-for="BaseTypeId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" placeholder="Описание...">
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightCm"></label>
                <input asp-for="HeightCm" class="form-control" placeholder="Височина...">
                <span asp-validation-for="HeightCm" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WidthCm"></label>
                <input asp-for="WidthCm" class="form-control" placeholder="Широчина...">
                <span asp-validation-for="WidthCm" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialId"></label>
                <select asp-for="MaterialId" class="form-control">
                    @foreach (var material in Model.Materials)
                    {
                        <option value="@material.Id">@material.Name</option>
                    }
                </select>
                <span asp-validation-for="MaterialId" class="small text-danger"></span>
            </div>
            <hr />
            <div class="btn-group">
                <input asp-for="IsAvailable" type="checkbox" class="btn-check" autocomplete="off">
                <label asp-for="IsAvailable" class="btn btn-outline-primary">Налично</label>
            </div>

            <hr />

            <div class="form-group">
                <label asp-for="ImageFile">Изберете снимка:</label>
                <input asp-for="ImageFile" type="file" id="imageFile" name="imageFile" />
                <span asp-validation-for="ImageFile" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Запази" />

                @if (ViewBag.IsNewPainting == false)
                {
                    <input class="btn btn-primary mt-3" type="reset" value="Върни промените" />
                }
            </div>
        </form>
    </div>
</div>