@model AllPersonalPaintingsQueryModel;

@{
    ViewData["Title"] = "Лични картини";

    bool disableNextPage = false;

    if (Model.CurrentPage >= Math.Ceiling((double)Model.Thumbnails.TotalThumbnailsCount / Model.CountPerPage))
    {
        disableNextPage = true;
    }
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<form method="get">
    <div class="form-group col-md-3">
        <label asp-for="PaintingTitle"></label>
        <input asp-for="PaintingTitle" class="form-control" placeholder="...">
    </div>

    <div class="col-md-3">
        <div class="form-group mt-4 p-2">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.CurrentPage == 1 ? " disabled" : string.Empty)">
            <a asp-area="" asp-action="AllPersonal" asp-controller="Painting" asp-route-CurrentPage="@(Model.CurrentPage - 1)"
               class="page-link" tabindex="-1" aria-disabled="true">Предишна страница</a>
        </li>

        @foreach (PaintingThumbnailModel painting in Model.Thumbnails.Thumbnails)
        {
            <li>
                <div class="card" style="min-width: 250px; max-width: 250px; margin-left: 20px; margin-right: 20px;
                        flex-direction: column; justify-content: space-between;">
                    <img src="@Url.Content(painting.ImagePath)" alt="@painting.Title"
                         align-content: center" />

                    <p style="font-weight: bold; font-size:large; margin-left: 10px">@painting.Title</p>

                    <p style="margin-left: 10px; margin-top: -10px;">@($"Размери: {@painting.HeightCm}х{@painting.WidthCm}см")</p>

                    <a asp-action="Details" asp-controller="Painting" asp-route-id="@painting.Id"
                       asp-route-information="@painting.GetInformation()" class="btn btn-success" style="align-content:flex-end">Детайли</a>
                </div>
            </li>
        }

        <li class="page-item @(disableNextPage ? " disabled" : string.Empty)">
            <a asp-area="" asp-action="AllPersonal" asp-controller="Painting" asp-route-CurrentPage="@(Model.CurrentPage + 1)"
               tabindex="-1" aria-disabled="true" class="page-link">Следваща страница</a>
        </li>
    </ul>
</nav>